.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-play {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn-play {
  position: absolute;
  margin-left: 24px;
}

.user-card-animation,
.bot-card-animation {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  animation: dealing-card 0.5s ease-out;
  animation-fill-mode: forwards;
}

.user-card-animation {
  animation: dealing-card-reverse 0.5s ease-out;
}

@keyframes dealing-card {
  from {
    transform: translateY(100%) rotate(0deg);
  }
  to {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes dealing-card-reverse {
  from {
    transform: translateY(-100%) rotate(360deg);
  }
  to {
    transform: translateY(0) rotate(0deg);
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  animation-name: move-down;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes move-down {
  0% {
    transform: translateY(-100%) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

